<!-- Navigation Bar -->
<div class="navbar theme-orange" style="padding-top: 0rem;">
    <div class="header">
        <div class="user-label">
            <img src="/images/1.png" alt="" class="avatar">

        </div>
    </div>
</div>