<!-- Navigation Bar -->
<div class="navbar theme-orange" style="padding-top: 0rem;display: flex;justify-content: center;align-items: center;">
 <div class="header">
  <div class="user-label">
   <img src="/images/Logo.png" alt="" class="avatar">

  </div>
 </div>
</div>