<!-- Navigation Bar -->
<div class="navbar theme-orange">

    <div class="header">
        <div class="user-label" style="display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;gap: 2rem;">
            <img src="/images/logo.png" alt="" class="avatar">
            <h2 style="font-size: 0.8rem;color: white;font-weight: bold;">
                Welcome back <%=user.username%>
            </h2>
        </div>
    </div>

    <ul class="navbar-nav" style="padding:2rem">
        <li class="nav-item">
            <a class="nav-link" href="/homeAdmin"><i class="fas fa-home"></i> Home</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Suppliers"><i class="fas fa-shopping-cart"></i> Items</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Suppliers"><i class="fas fa-shopping-cart"></i> Products</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/ViewOrders"><i class="fas fa-shopping-cart"></i> View Orders Placed</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/CustomerOrders"><i class="fas fa-shopping-cart"></i> Customer Orders</a>
        </li>

        <hr class="Custome-hr"> <!-- New general line -->


        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>
    </ul>
</div>