<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">





</head>

<body>

    <!-- Navigation Bar -->
    <%- include('../views/navbar') %>

        <div class="floating-btn-container">
            <a href="/addProduct" class="floating-btn">
                <i class="material-icons">add</i>
            </a>
        </div>

        <div class="main-content" style="padding-left: 4rem;">

            <div style="display:flex; margin-bottom: 2rem;">
                <h1 class="" style="padding-left: 2.4rem;
                font-size: 2vw;
                font-weight: bolder;
                letter-spacing: 0px;padding-top: 3rem;">My Stores Inventory</h1>
            </div>


            <!-- Search Bar -->
            <div style="display: flex;padding-left: 2.4rem;
            ">
                <div>
                    <h2 style="    text-align: center;
                width: 139px;
                color: white;
                font-size: 1.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                /* padding-top: 7px; */
                background-color: #FF0000;">Search</h2>
                </div>
                <div> <input style="text-align: center;font-size: 1rem;    width: 40vw;
                height: 3.44rem;
                border: 1px #DBDBDB solid;" type="text" placeholder="Search"></div>
            </div>


            <!-- Category -->
            <div class="row category" style="    display: flex;
                flex-direction: column;
                padding: 2.3rem;">

                <h2 class="headerPageTwo">
                    Products
                </h2>






            </div>

</body>

</html>